USE [master]
GO
/****** Object:  Database [QLTX]    Script Date: 05/04/2018 21:44:42 ******/
CREATE DATABASE [QLTX] ON  PRIMARY 
( NAME = N'QLTX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QLTX.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QLTX_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTX]
GO
/****** Object:  Table [dbo].[ThongTinBanVe]    Script Date: 05/04/2018 21:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinBanVe](
	[MaGD] [nvarchar](10) NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[MaTX] [nvarchar](10) NOT NULL,
	[TenTX] [nvarchar](50) NOT NULL,
	[MaVeNgay] [nvarchar](10) NOT NULL,
	[DG] [int] NOT NULL,
	[VePhatRa] [int] NOT NULL,
	[VeThuVao] [int] NOT NULL,
	[VeBanDuoc] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [PK_ThongTinBanVe] PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/04/2018 21:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [nvarchar](10) NULL,
	[taiKhoan] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
